.vscode

.*
!.gitignore
bench
local
go
backup

isuumo/*
!isuumo/webapp
isuumo/webapp/*
!isuumo/webapp/go
!isuumo/webapp/mysql

env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh

logs
